<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{com/eachserver/ui/templates/head-fragment}" />
    <header th:replace="~{com/eachserver/ui/templates/header-fragment}" />
    <body>
        <section class="section">
            <form th:action="@{/security/sub-user-create}" method="post">
                <div class="control">
                    <button type="submit" class="button is-primary">
                        Sub User Create
                    </button>
                </div>
            </form>
        </section>
    </body>
    <footer th:replace="~{com/eachserver/ui/templates/footer-fragment}" />
</html>
